.scale-on-hover {
  --scale: 1;
  transition-duration: 0.7s !important;
}

.scale-on-hover:hover {
  --scale: 1.1;
  transition-duration: 0.7s !important;
}

.wiggle {
  animation: wiggle 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.lazy-load-image-background.lazy-load-image-loaded {
  width: 100%;
}

@keyframes wiggle {
  10%,
  90% {
    transform: rotate(0);
  }
  20%,
  80% {
    transform: rotate(-10deg);
  }
  30%,
  50%,
  70% {
    transform: rotate(10deg);
  }
  40%,
  60% {
    transform: rotate(-10deg);
  }
}

@media (orientation: landscape) {
  /* Banner.css */
  .top-25 {
    top: 25%;
  }

  .left-10vw {
    left: 10vw;
  }

  .top-29 {
    top: 29%;
  }

  .left-35vw {
    right: 35vw;
  }

  .bottom-0 {
    bottom: 0;
  }

  .right-20 {
    right: 20%;
  }

  .right-10 {
    right: 10%;
  }

  .w-25 {
    width: 25%;
  }

  .w-29 {
    width: 29%;
  }

  .w-23 {
    width: 23%;
  }

  .w-30 {
    width: 30%;
  }
}

@media (orientation: portrait) {
  .top-25 {
    top: 27%;
  }

  .left-10vw {
    left: 10%;
  }

  .top-29 {
    top: 45%;
  }

  .left-35vw {
    right: 0%;
  }

  .bottom-0 {
    bottom: 0;
  }

  .right-20 {
    right: 0 !important;
  }

  .right-10 {
    right: 0 !important;
  }

  .w-25 {
    width: 60%;
  }

  .w-29 {
    width: 75%;
  }

  .w-23 {
    width: 30%;
  }

  .w-30 {
    width: 25%;
  }
}
