.loader {
  width: 56px;
  height: 56px;
  display: block;
  margin: 18px auto;
  position: relative;
  color: #fff;
  box-sizing: border-box;
  animation: rotation 1.75s linear infinite;
}
.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  background-color: #da458f;
  border-radius: 50%;
  animation: scale50 1.75s infinite ease-in-out;
}
.loader::before {
  top: auto;
  bottom: 0;
  background-color: #da34dd;
  animation-delay: 0.5s;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes scale50 {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
