.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #da458f #3a3841;
  padding-bottom: 10px; /* Add padding to create space between buttons and scrollbar */
}

.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #3a3841;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #da458f;
  border-radius: 10px;
  border: 2px solid #3a3841;
}

.cursor-grab {
  cursor: grab;
}

.cursor-grab:active {
  cursor: grabbing;
}

.product-card-list::-webkit-scrollbar {
  width: 6px;
  border-radius: 4px;
}

.product-card-list::-webkit-scrollbar-track {
  background: #777777;
  border-radius: 4px;
}

.product-card-list::-webkit-scrollbar-thumb {
  background: #ffcc21;
  border-radius: 4px;
  cursor: pointer;
}

.product-card-list::-webkit-scrollbar-thumb:hover {
  background: #ffcc21;
}
